<div class="container">
    <p class="heading">Admin Dashboard</p>
    <div class="button-container">
        <div class="button-row">
            <p class="button-text">Click here to add categories:</p>
            <button class="custom-button first-button" routerLink="/categories">Add Categories</button>
            <p class="button-text">Click here to add products:</p>
            <button class="custom-button second-button">Add Products</button>
        </div>
        <div class="button-row">
            <p class="button-text">Click here to manage customers:</p>
            <button class="custom-button third-button">Manage Customers</button>
            <p class="button-text">Click here to manage sellers:</p>
            <button class="custom-button fourth-button">Manage Sellers</button>
        </div>
    </div>
</div>
