<div class="container">
    <p class="heading">Admin Dashboard</p>
    <div class="button-container">
        <div class="button-row">
            <p class="button-text">Click here to manage categories:</p>
            <button class="custom-button first-button" routerLink="/manage-categories">Manage Categories</button>
            <p class="button-text">Click here to manage products:</p>
            <button class="custom-button second-button" routerLink="/manage-product">Manage Products</button>
        </div>
        <div class="button-row">
            <p class="button-text">Click here to manage customers:</p>
            <button class="custom-button third-button" routerLink="/manage-customers">Manage Customers</button>
            <p class="button-text">Click here to manage sellers:</p>
            <button class="custom-button fourth-button" routerLink="/manage-sellers">Manage Sellers</button>
        </div>
    </div>
</div>
