<section class="login-container">
  <h2>Login to Your Account</h2>
  <form id="loginForm" (ngSubmit)="login()" method="post">
    <label for="email">Enter your email:</label>
    <input type="text" id="email" name="username" [(ngModel)]="admin.adminEmail" required>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" [(ngModel)]="admin.adminPassword" required>

    <!-- Display error message -->
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    <button type="submit" class="login-button">Login</button>
  </form>
</section>
