<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your E-Commerce Store</title>
</head>
<body>

  <section class="hero">
    <h1>Welcome to Your Ecom Store</h1>
    <p>Discover a world of amazing products just for you.</p>
    <a routerLink="/categories" class="btn">Explore Products</a>
  </section>

  <section id="features" class="features">
    <div class="feature">
      <h2>Fast Shipping</h2>
      <p>Get your products delivered quickly with our fast shipping services.</p>
    </div>
    <div class="feature">
      <h2>Secure Payments</h2>
      <p>Shop with confidence using our secure and reliable payment methods.</p>
    </div>
    <div class="feature">
      <h2>24/7 Customer Support</h2>
      <p>Our dedicated customer support team is ready to assist you anytime.</p>
    </div>
  </section>

  <section id="products" class="products">
    <!-- Display your products here -->
    <div class="product">
      <img src="../../../assets/images/img6.jpg.webp" alt="error">
      <h3>Laptop</h3>
      <p>Description of Laptop</p>
      <button>Add to Cart</button>
    </div>
    
    <div class="product">
        <img src="../../../assets/images/img7.jpg.webp" alt="error">
        <h3>Headphone</h3>
        <p>Description of Smartphone</p>
        <button>Add to Cart</button>
      </div>
  
      <div class="product">
        <img src="../../../assets/images/img8.jpg.webp" alt="error">
        <h3>Smartphone</h3>
        <p>Description of Headphones</p>
        <button>Add to Cart</button>
      </div>
  </section>

  <section id="contact" class="contact">
    <h2>Contact Us</h2>
    <p>Have questions or need assistance? 
        <a routerLink="/contactus">Reach out to us</a>
    </p>
  </section>
</body>
</html>

 