<div class="container">
  <p class="heading">Seller Dashboard</p>
  <div class="button-container">
    <div class="button-row">
      <h2>Welcome to Your Seller Dashboard</h2>
    </div>
    <div class="dashboard-section">
      <h3>Product Management</h3>
      <div class="add-product-btn">
        <p class="paragraphs">Click here to add product:</p>
        <button class="custom-button" (click)="addProduct()">Add New Product</button>
      </div>
      <div class="update-product-btn">
        <p class="paragraphs">Click here to update product:</p>
        <button class="custom-button" (click)="editProducts()">Edit Products</button>
      </div>
    </div>
  </div>
</div>
